
@{
    ViewBag.Title = "ThanksEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ThanksEdit</h2>
 Click <a href="@Url.Action("ViewDetailsCustomer","Customers" , new {cusName = Model.CusName})">Here</a> comeback

